<div id="issue" class="modal">
  <div class="header">
    <h3 id="title">
      {{inline-edit value=name action="save"}}
    </h3>
    <div {{action "close"}} class="close"><i class="fa fa-times"></i></div>
  </div>

  <div class="body">
    <div class="description">
      {{inline-edit value=description action="save" placeholder="Double click to add a description"}}
    </div>
  </div>

  <div class="sidebar">
    <a {{action "toggleClosed"}} {{bind-attr class=":btn closed:red:green"}}>
      <i {{bind-attr class=":fa closed:fa-square:fa-check-square"}}></i>
      {{#if closed}}
        Closed
      {{else}}
        Open
      {{/if}}
    </a>
  </div>
</div>

<div {{action "close"}} class="modal-backdrop"></div>
